/* CopyRight Claudio Ferraro */

$text-font: 'Blogger Sans';
$font-color: white;
$bg-color: #282c34;
$fg-color: #333;

 
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  color: $font-color;
  font-size: 1.6rem;
  text-align: center;
  font-size: 16px;
  font-family: $text-font;

  & > * {
    margin: 2rem 0;
  }
}

.header {
  h1 {
    font-size: 3.5rem;
  }
}
h1, h2, h3, h4 {
  font-family: $text-font;
}

h1, h2 {
  line-height: 59px;
  font-size: 32px;
  color: white;
}

p {
  color: white;
  font-family: $text-font;
  font-weight: 100;
  font-size: 20px;
}

span {
  font-size: 16px;
  font-family: $text-font;
}
input:focus {outline:none;}

/* ==========================================================================
   FONTS
   ========================================================================== */

@font-face {
  font-family: Blogger Sans;
  src: url("../assets/fonts/Blogger_Sans.otf") format("opentype");
}


@font-face {
  font-family: Blogger Sans;
  font-weight: bold;
  src: url("../assets/fonts/Blogger_Sans-Bold.otf") format("opentype");
}


@font-face {
  font-family: Blogger Sans;
  font-weight: 100;
  src: url("../assets/fonts/Blogger_Sans-Light.otf") format("opentype");
}


@font-face {
  font-family: Blogger Sans;
  font-style: italic;
  src: url("../assets/fonts/Blogger_Sans-Italic.otf") format("opentype");
}

/* ==========================================================================
   My custom styles
   ========================================================================== */

.container {

  height: 95vh;
  width: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center;
  background-color: $fg-color;
  border: 1px solid black;
  flex-direction: column;

  .login-container {
	  
	  height: 1px;
	  width: 100%;
	  position: absolute;
	  background: rgb(44,56,70);
      background: linear-gradient(360deg, rgba(44,56,70,1) 0%, rgba(40,44,52,1) 43%, rgba(44,56,70,1) 100%);
	  webkit-transition: height 1s ease-in-out;
	  -moz-transition: height 1s ease-in-out;
      -o-transition: height 1s ease-in-out;
      -ms-transition: height 1s ease-in-out;
	   transition: height 1s ease-in-out;
	  transition-duration: 1s;
	  transition-property: height;
	  transition-timing-function: ease-in-out;
	  
	  #loginForm {
		background: rgb(44,56,70);
		background: linear-gradient(360deg, rgba(44,56,70,1) 0%, rgba(40,44,52,1) 43%, rgba(44,56,70,1) 100%);
		flex: 1;
		width: 70%;
		height: 100%;
		padding: 22px;
		margin: 0 auto;
		
		h1 {
			float: left;
			width: 100%;
			text-align: left;
		}
		
		.form-container {
			width: 50%;
			padding-left: 5%;
			padding-right: 0;
			float: left;
			
			.form-group {
				label {
					width: 100%;
					display: block;
					font-size: 14px;
					padding-bottom: 5px;
					padding-top: 10px;
				}
				
				input {
					width: 100%;
					font-size: 11px;
					padding: 15px;
					border-radius: 5px;
					border: 1px solid gray;
				}
				text-align: left;
			}
		}
		.result-container {
			width: 50%;
			padding-right: 5%;
			padding-left: 0;
			float: right;
			
			#result-box {
				opacity: 0;
				background-color: $fg-color;
				border: 1px solid gray;
				float: right;
				width: 85%;
				height: 165px;
				margin: 20px;
				border-radius: 10px;
				overflow-y: scroll;
				
				.result-table {
					font-size: 12px;
					padding: 10px;
					td {
						padding: 5px;
					}
				}
			}
		}
		.text-right {
			float: right;
		}
	  }
  }
  
  #buttonSearch {
	background: url("../assets/images/searchicon.png");
	background-size: 40px;
	background-repeat: no-repeat;
	width: 50px;
	height: 46px;
	border: 0;
	cursor: pointer;
	outline:none;
  }
  
  h1 {
    margin-bottom: 30px;
  }
  label {
    color: white;
  }
  .btn.btn-primary {
    width: 280px;
  }
}
